<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}-{% endblock %}</title>

        {% block stylesheets %}
            <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
            <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('bundles/css/back/bootstrap.min.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/back/style.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/back/dropzone.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/back/style-responsive.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/back/font.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/back/font-awesome.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/back/morris.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/back/monthly.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/back/nifty.min.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/back/nifty-demo.min.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/back/nifty-demo-icons.min.css')}}" />
            <script src="{{ asset('bundles/js/back/jquery2.0.3.min.js') }}"></script>
            <script src="{{ asset('bundles/js/back/raphael-min.js') }}"></script>
            <script src="{{ asset('bundles/js/back/morris.js') }}"></script>
        {% endblock %}
    </head>

    <body>
    <!--  HEADER -->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">
            <a href="" class="logo">
                <img src="{{ asset('bundles/img/front/logo.png') }}/logo.png" style="width: 225px ; margin-left: -10px"/>
            </a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>
        <!--logo end-->
        <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="{{ asset('bundles/img/back/3.png')}}">
                        <span>Utilisateur</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href=""><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->

            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--  END OF HEADER -->

    <!--  MENU LEFT -->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="../index.html">
                            <i class="fa fa-folder-open-o"></i>
                            <span>File Manager</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="dropzone.html">
                            <i class="fa fa-folder-open-o"></i>
                            <span>Archives</span>
                        </a>
                    </li>
                    <li>
                        <a href="dropzone.html">
                            <i class="fa fa-folder-open-o"></i>
                            <span>Audio </span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="dropzone.html">
                            <i class="fa fa-folder-open-o"></i>
                            <span>Documents</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="dropzone.html">
                            <i class="fa fa-folder-open-o"></i>
                            <span>Photos</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="dropzone.html">
                            <i class="fa fa-folder-open-o"></i>
                            <span>Videos </span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="dropzone.html">
                            <i class="fa fa-clock-o"></i>
                            <span>Fichiers recent </span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="dropzone.html">
                            <i class="fa fa-trash-o"></i>
                            <span>Corbeil </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- menu end-->
        </div>
    </aside>
    <!--  END OF MENU -->

    {% block body %}
    {% endblock %}

    <!--  FOOTER  -->
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    <!--  END OF FOOTER  -->

    {% block javascript %}
        <script src="{{ asset('bundles/js/back/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/js/back/jquery.dcjqaccordion.2.7.js') }}"></script>
        <script src="{{ asset('bundles/js/back/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/js/back/jquery.nicescroll.js') }}"></script>
        <script src="{{ asset('bundles/js/back/jquery.scrollTo.js') }}"></script>
        <script src="{{ asset('bundles/js/back/scripts.js') }}"></script>
        <script src="{{ asset('bundles/js/back/dropzone.js') }}"></script>
        <script src="{{ asset('bundles/js/back/nifty.min.js') }}"></script>

    {% endblock %}

    </body>
</html>