{% extends "AppBundle::layout_user.html.twig" %}
{% block title %}
    {{ parent() }}
    - Accueil
{% endblock %}

{% block body %}
   <!-- <div id="load" style="display: none;"></div>-->
    <!--main content start-->
    <section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="panel-body">
                <div class="col-md-12 w3ls-graph">

                    <!--Page content-->
                    <!--===================================================-->
                    <div id="page-content">

                        <div class="panel">
                            <div class="pad-all file-manager">
                                <div class="fixed-fluid">

                                    <div class="fluid file-panel">
                                        <div class="fixed-sm-200 pull-sm-left file-sidebar pull-right">
                                            <div class="pad-btm">
                                                <a data-toggle="modal" id="btnupload" data-token="{{ userTokent }}" data-folder="{{ homedirId }}" data-target="#uploadmodal" class="btn btn-block btn-lg btn-info v-middle"><i class="demo-pli-upload-to-cloud"></i>Upload Files</a>
                                            </div>
                                        </div>
                                        <div class=" pad-ver">
                                            <ol class="breadcrumb">
                                                <li><a href="">Accueil</a></li>
                                                <li><a href="#">Mes Fichiers</a></li>
                                                <!--<li class="active">File Manager</li>-->
                                            </ol>
                                        </div>
                                        <div class="file-toolbar">
                                            <div class="btn-file-toolbar">
                                                <a class="btn btn-icon add-tooltip" href="#" data-original-title="Home" data-toggle="tooltip"><i class="icon-2x demo-pli-home"></i></a>
                                                <a class="btn btn-icon add-tooltip" href="#" data-original-title="Refresh" data-toggle="tooltip"><i class="icon-2x demo-pli-reload-3"></i></a>
                                            </div>
                                            <div class="btn-file-toolbar">
                                                <a class="btn btn-icon add-tooltip" data-original-title="New Folder" data-toggle="modal" data-target="#foldermodal"><i class="icon-2x demo-pli-folder"></i></a>
                                                <a class="btn btn-icon add-tooltip" href="#" data-original-title="New File" data-toggle="tooltip"><i class="icon-2x demo-pli-file-add"></i></a>
                                                <a class="btn btn-icon add-tooltip" href="#" data-original-title="Edit File" data-toggle="tooltip"><i class="icon-2x demo-pli-file-edit"></i></a>
                                            </div>
                                            <div class="btn-file-toolbar pull-right">
                                                <a class="btn btn-icon add-tooltip" href="#" data-original-title="Delete" data-toggle="tooltip"><i class="icon-2x demo-pli-recycling"></i></a>
                                                <a class="btn btn-icon add-tooltip" href="#" data-original-title="Download" data-toggle="tooltip"><i class="icon-2x demo-pli-download-from-cloud"></i></a>
                                            </div>
                                        </div>


                                        <ul id="demo-mail-list" class="file-list">

                                            {% for valeur in directories %}
                                                <!--File list item-->
                                                <li class="art-vmenu">
                                                    <div class="file-control">
                                                        <input id="{{ valeur.id }}" class="magic-checkbox" type="checkbox">
                                                        <label for="{{ valeur.id }}"></label>
                                                    </div>
                                                    <div class="file-settings dropdown">
                                                        <a href="#"  data-toggle="dropdown" class="dropdown-toggle">
                                                            <i class="pci-ver-dots"></i></a>
                                                            <ul class="dropdown-menu extended logout">
                                                                <li><a href="#"><i class="fa fa-edit"></i> Modifier</a></li>
                                                                <li><a href="#"><i class="fa fa-download"></i>Télécharger</a></li>
                                                                <li><a href="#"><i class="fa fa-trash"></i> Supprimer</a></li>
                                                            </ul>


                                                    </div>
                                                    <div class="file-attach-icon"></div>
                                                    <a href="#" class="file-details" id="folderlink" data-folder="{{  valeur.id  }}" data-token="{{ userTokent }}">
                                                        <div class="media-block">
                                                            <div class="media-left"><i class="demo-psi-folder"></i></div>
                                                            <div class="media-body">
                                                                <p class="file-name">{{ valeur.name }}</p>
                                                                <small>Created Yesterday | 22 MB</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}

                                            {% for valeur in files %}
                                                <!--File list item-->
                                                <li id="sortable">
                                                    <div class="file-control">
                                                        <input id="{{ valeur.id }}" class="magic-checkbox" type="checkbox">
                                                        <label for="{{ valeur.id }}"></label>
                                                    </div>
                                                    <div class="file-settings"><a href="#"><i class="pci-ver-dots"></i></a></div>
                                                    <div class="file-attach-icon"></div>
                                                    <a href="#" class="file-details" data-id="{{ valeur.id }}">
                                                        <div class="media-block">
                                                            <div class="media-left"><i class="demo-pli-file-{% if  valeur.type|lower in ['png','jpg','gif','bmp','jpeg'] %}jpg{% elseif valeur.type|lower in ['pdf','doc','docx','odt'] %}word{% else %}{{ valeur.type|lower }}{% endif %}"></i></div>
                                                            <div class="media-body">
                                                                <p class="file-name">{{ valeur.name }}.{{ valeur.type|lower }}</p>
                                                                <small>Created 3 weeks ago | 265 KB</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <div class="modal fade" id="foldermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Nouveau Dossier</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <input type="text" id="newdir" data-folder="{{ homedirId }}" data-token="{{ userTokent }}" class="form-control" placeholder="Directory name" min="20" max="50" required/>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn  btn-lg btn-info" id="createdir">Create</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Upload des fichiers</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="col-sm-12 dropzone" id="updropzone" style="height:auto;border:solid 1px #ccc;">
                                                            <input type="file" name="file" />
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--===================================================-->
                <!--End page content-->
            </div>
        </div>
        </div>
    </section>
    <!--main content end-->
{% endblock %}